/* 改变主题色变量 */
$--color-primary: #ff7c87;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-input .el-input__inner {
  padding: 0 8px;
}

.el-textarea .el-textarea__inner {
  padding: 5px 8px;
}

.el-radio .el-radio__label {
  padding-left: 8px;
}

.el-checkbox .el-checkbox__label {
  padding-left: 8px;
}

body .el-table th.gutter {
  display: table-cell !important;
}

body .el-table colgroup.gutter {
  display: table-cell !important;
}
